In [198]:
import pandas as pd
import numpy as np 
import warnings
from summarytools import dfSummary
from sklearn.model_selection import train_test_split

In [199]:
warnings.filterwarnings('ignore')

## data cleaning

In [200]:
pd.set_option("display.max_columns",100)

In [201]:
path = "https://frenzy86.s3.eu-west-2.amazonaws.com/python/data/cars.csv"

In [202]:
df = pd.read_csv(path)

In [203]:
df

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...
887,Ta,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,2014,"1,60,000",Petrol,NaN

In [204]:
list(df["name"])

['Hyundai Santro Xing XO eRLX Euro III',
 'Mahindra Jeep CL550 MDI',
 'Maruti Suzuki Alto 800 Vxi',
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Ford Figo',
 'Hyundai Eon',
 'Ford EcoSport Ambiente 1.5L TDCi',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Skoda Fabia Classic 1.2 MPI',
 'Maruti Suzuki Stingray VXi',
 'Hyundai Elite i20 Magna 1.2',
 'Mahindra Scorpio SLE BS IV',
 'Hyundai Santro Xing XO eRLX Euro III',
 'Mahindra Jeep CL550 MDI',
 'Audi A8',
 'Audi Q7',
 'Mahindra Scorpio S10',
 'Maruti Suzuki Alto 800',
 'Mahindra Scorpio S10',
 'Mahindra Scorpio S10',
 'Maruti Suzuki Alto 800 Vxi',
 'Hyundai i20 Sportz 1.2',
 'Hyundai i20 Sportz 1.2',
 'Hyundai i20 Sportz 1.2',
 'Maruti Suzuki Alto 800 Lx',
 'Maruti Suzuki Vitara Brezza ZDi',
 'Maruti Suzuki Alto LX',
 'Mahindra Bolero DI',
 'Maruti Suzuki Swift Dzire ZDi',
 'Mahindra Scorpio S10 4WD',
 'Maruti Suzuki Swift Vdi BSIII',
 'Maruti Suzuki Wagon R VXi BS III',
 'Maruti Suzuki Wagon R VXi Minor',
 'Toyota Innova 2.0 G 8 STR BS IV',
 'Renault Lodgy 85 PS RXL',
 'Skoda Yeti Ambition 2.0 TDI CR 4x2',
 'Maruti Suzuki Baleno Delta 1.2',
 'Renault Duster 110 PS RxZ Diesel Plus',
 'Renault Duster 85 PS RxE Diesel',
 'Honda City 1.5 S MT',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Maruti Suzuki Dzire',
 'Honda Amaze',
 'Honda Amaze 1.5 SX i DTEC',
 'Honda City',
 'Datsun Redi GO S',
 'Maruti Suzuki SX4 ZXI MT',
 'Mitsubishi Pajero Sport Limited Edition',
 'Mahindra Bolero DI',
 'Maruti Suzuki Swift Dzire ZDi',
 'Mahindra Scorpio S10 4WD',
 'Maruti Suzuki Swift Vdi BSIII',
 'Maruti Suzuki Wagon R VXi BS III',
 'Maruti Suzuki Wagon R VXi Minor',
 'Mahindra Scorpio S10',
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
 'Honda City ZX CVT',
 'Maruti Suzuki Wagon R LX BS IV',
 'Ford Figo',
 'Hyundai Eon',
 'Tata Indigo eCS LS CR4 BS IV',
 'Ford EcoSport Ambiente 1.5L TDCi',
 'Tata Indigo eCS LS CR4 BS IV',
 'Mahindra Scorpio SLE BS IV',
 'Volkswagen Polo Highline Exquisite P',
 'Skoda Fabia Classic 1.2 MPI',
 'Maruti Suzuki Stingray VXi',
 'I want to sell my car Tata Zest',
 'Chevrolet Spark LS 1.0',
 'Renault Duster 110PS Diesel RxZ',
 'Honda City',
 'Mini Cooper S 1.6',
 'Datsun Redi GO S',
 'Skoda Fabia 1.2L Diesel Ambiente',
 'Honda Amaze',
 'Honda Amaze',
 'Renault Duster',
 'Mini Cooper S 1.6',
 'Mahindra Scorpio S4',
 'Mahindra Scorpio VLX 2WD BS IV',
 'Mahindra Quanto C8',
 'Ford EcoSport',
 'Honda Brio',
 'I want to sell my car Tata Zest',
 'Volkswagen Vento Highline Plus 1.5 Diesel AT',
 'Hyundai i20 Magna',
 'Toyota Corolla Altis Diesel D4DG',
 'Hyundai Verna Transform SX VTVT',
 'Toyota Corolla Altis Petrol Ltd',
 'Honda City 1.5 EXi New',
 'Hyundai Elite i20 Magna 1.2',
 'Skoda Fabia 1.2L Diesel Elegance',
 'BMW 3 Series 320i',
 'Maruti Suzuki A Star Lxi',
 'Toyota Etios GD',
 'Ford Figo Diesel EXI Option',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Chevrolet Beat LT Diesel',
 'BMW 7 Series 740Li Sedan',
 'Mahindra XUV500 W8 AWD 2013',
 'Hyundai i10 Magna 1.2',
 'Hyundai Verna Fluidic New',
 'Maruti Suzuki Swift VXi 1.2 BS IV',
 'Maruti Suzuki Ertiga ZXI Plus',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Maruti Suzuki Ertiga Vxi',
 'Maruti Suzuki Ertiga VDi',
 'Maruti Suzuki Alto LXi BS III',
 'Hyundai Grand i10 Asta 1.1 CRDi',
 'Honda Amaze 1.2 S i VTEC',
 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
 'Ford Figo Diesel EXI',
 'Maruti Suzuki Eeco 5 STR WITH AC HTR',
 'Maruti Suzuki Ertiga ZXi',
 'Maruti Suzuki Esteem LXi BS III',
 'Maruti Suzuki Ritz VXI',
 'Maruti Suzuki Dzire',
 'Maruti Suzuki Ritz LDi',
 'Maruti Suzuki Swift VXi 1.2 BS IV',
 'Maruti Suzuki Dzire VDI',
 'Toyota Etios Liva G',
 'Hyundai i20 Sportz 1.4 CRDI',
 'Chevrolet Spark',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Nissan Micra XV',
 'Maruti Suzuki Swift',
 'Maruti Suzuki Alto 800',
 'Honda Amaze 1.5 S i DTEC',
 'Maruti Suzuki Alto 800 Vxi',
 'Chevrolet Beat',
 'Toyota Corolla',
 'Honda City 1.5 V MT',
 'Ford EcoSport Trend 1.5L TDCi',
 'Hyundai i20 Asta 1.2',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Tata Indica V2 eLS',
 'Maruti Suzuki Alto 800 Lxi',
 'Hindustan Motors Ambassador',
 'Toyota Corolla Altis 1.8 GL',
 'Toyota Corolla Altis 1.8 J',
 'Toyota Innova 2.5 GX BS IV 7 STR',
 'Volkswagen Jetta Highline TDI AT',
 'Volkswagen Polo Comfortline 1.2L P',
 'Volkswagen Polo',
 'Mahindra Scorpio',
 'Renault Duster',
 'Honda Amaze',
 'Nissan Sunny',
 'Hyundai Elite i20',
 'Renault Kwid',
 'Renault Duster',
 'Ford EcoSport',
 'Renault Duster',
 'Mahindra Scorpio VLX Airbag',
 'Maruti Suzuki Alto 800 Lxi',
 'Chevrolet Spark LT 1.0',
 'Datsun Redi GO T O',
 'Maruti Suzuki Swift RS VDI',
 'Fiat Punto Emotion 1.2',
 'Maruti Suzuki Swift RS VDI',
 'Toyota Etios GD',
 'Hyundai i20 Sportz 1.4 CRDI',
 'Hyundai i10 Sportz 1.2',
 'Chevrolet Beat LT Opt Diesel',
 'Chevrolet Beat LS Diesel',
 'Chevrolet Beat LT Diesel',
 'Mahindra Scorpio VLX 2WD BS IV',
 'Tata Indigo CS',
 'Toyota Corolla Altis 1.8 J',
 'Honda City 1.5 V MT',
 'Maruti Suzuki Swift VDi',
 'Hyundai Eon Era Plus',
 'Mahindra Scorpio S10',
 'Mahindra XUV500',
 'Honda Brio',
 'Ford Fiesta',
 'Honda Amaze',
 'Honda City',
 'Maruti Suzuki Wagon R',
 'Honda City',
 'Hyundai i20',
 'Tata Indigo eCS LX TDI BS III',
 'Hyundai Fluidic Verna 1.6 CRDi SX',
 'Commercial , DZire LDI, 2016, for sale',
 'Mahindra Quanto C8',
 'Fiat Petra ELX 1.2 PS',
 'Skoda Fabia 1.2L Diesel Ambiente',
 'Mini Cooper S 1.6',
 'Hyundai Santro Xing XS',
 'Maruti Suzuki Ciaz VXi Plus',
 'Maruti Suzuki Zen VX',
 'Honda City',
 'Hyundai Creta 1.6 SX Plus Petrol',
 'Tata indigo ecs LX, 201',
 'Mahindra Scorpio SLX',
 'Mahindra Scorpio SLE BS IV',
 'Toyota Innova 2.5 G BS III 8 STR',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Maruti Suzuki Wagon R LXI BS IV',
 'Tata Nano Cx BSIV',
 'Maruti Suzuki Alto Std BS IV',
 'Maruti Suzuki Wagon R LXi BS III',
 'Maruti Suzuki Swift VXI BSIII',
 'Tata Sumo Victa EX 10 by 7 Str BSIII',
 'MARUTI SUZUKI DESI',
 'Maruti Suzuki Wagon R LXi BS III',
 'Maruti Suzuki Alto LXi BS III',
 'Volkswagen Passat Diesel Comfortline AT',
 'Renault Scala RxL Diesel Travelogue',
 'Mahindra Quanto C8',
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
 'Hyundai i20 Active 1.2 SX',
 'Mahindra Xylo E4',
 'Mahindra Jeep MM 550 XDB',
 'Renault Duster 110PS Diesel RxZ',
 'Mahindra Bolero SLE BS IV',
 'Force Motors Force One LX ABS 7 STR',
 'Maruti Suzuki SX4',
 'Mahindra Jeep CL550 MDI',
 'Maruti Suzuki Alto 800',
 'Mahindra Jeep CL550 MDI',
 'Toyota Etios',
 'Volkswagen Polo',
 'Honda City ZX VTEC',
 'Maruti Suzuki Wagon R LX BS III',
 'Honda City VX O MT Diesel',
 'Mahindra Thar CRDe 4x4 AC',
 'Mitsubishi Pajero Sport Limited Edition',
 'Audi A4 1.8 TFSI Multitronic Premium Plus',
 'Mercedes Benz GLA Class 200 CDI Sport',
 'Land Rover Freelander 2 SE',
 'Renault Kwid RXT',
 'Tata Aria Pleasure 4X2',
 'Mercedes Benz B Class B180 Sports',
 'Datsun GO T O',
 'Tata Indigo eCS LX TDI BS III',
 'Tata Indigo eCS LX TDI BS III',
 'Honda Jazz VX MT',
 'Honda Amaze 1.2 S i VTEC',
 'Honda Amaze',
 'Honda City',
 'Honda City',
 'Honda Amaze',
 'Audi A4 1.8 TFSI Multitronic Premium Plus',
 'Force Motors Force One LX ABS 7 STR',
 'Mahindra Scorpio S4',
 'Hyundai i20 Active 1.4L SX O',
 'Mini Cooper S',
 'Maruti Suzuki Ciaz ZXI Plus',
 'Chevrolet Tavera Neo',
 'Honda Amaze',
 'Hyundai Eon Sportz',
 'Tata Sumo Gold Select Variant',
 'Maruti Suzuki Wagon R 1.0',
 'Maruti Suzuki Esteem VXi BS III',
 'Maruti Suzuki Eeco 5 STR WITH AC HTR',
 'Chevrolet Enjoy 1.4 LS 8 STR',
 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
 'Ford Figo Diesel EXI',
 'Maruti Suzuki Eeco 5 STR WITH AC HTR',
 'Maruti Suzuki Ertiga ZXi',
 'Maruti Suzuki Esteem LXi BS III',
 'Maruti Suzuki Ritz VXI',
 'Maruti Suzuki Dzire',
 'Maruti Suzuki Ritz LDi',
 'Maruti Suzuki SX4 ZXI MT',
 'Maruti Suzuki Wagon R 1.0 VXi',
 'Mini Cooper S 1.6',
 'Nissan Terrano XL D Plus',
 'Renault Duster 85 PS RxE Diesel',
 'Renault Duster 85 PS RxE Diesel',
 'Renault Duster 85 PS RxL Diesel',
 'Maruti Suzuki Dzire ZXI',
 'Renault Kwid RXT Opt',
 'Maruti Suzuki Maruti 800 Std',
 'Renault Kwid 1.0 RXT AMT',
 'Renault Lodgy 85 PS RXL',
 'Renault Scala RxL Diesel',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Chevrolet Beat LS Petrol',
 'Tata Indigo eCS LX TDI BS III',
 'Hyundai Santro Xing XO eRLX Euro III',
 'Hyundai Fluidic Verna 1.6 CRDi SX',
 'Commercial , DZire LDI, 2016, for sale',
 'Chevrolet Beat LS Petrol',
 'Mahindra Quanto C8',
 'Fiat Petra ELX 1.2 PS',
 'Chevrolet Beat LS Petrol',
 'Skoda Fabia 1.2L Diesel Ambiente',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Hyundai Accent GLX',
 'Yama',
 'Maruti Suzuki Swift LDi',
 'Mahindra TUV300 T4 Plus',
 'Mini Cooper S 1.6',
 'Mini Cooper S 1.6',
 'Tata Indica V2 Xeta e GLE',
 'Mini Cooper S',
 'Tata Indigo CS LS DiCOR',
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
 'Mahindra Scorpio VLX Special Edition BS III',
 'Tata Indica eV2 LS',
 'Honda Accord',
 'Mahindra Scorpio S4',
 'Chevrolet Tavera Neo',
 'Ford EcoSport Titanium 1.5 TDCi',
 'Maruti Suzuki Ertiga',
 'Honda Amaze',
 'Maruti Suzuki Dzire',
 'Honda City',
 'Mahindra Scorpio 2.6 CRDe',
 'Maruti Suzuki Dzire',
 'Honda City',
 'Honda Mobilio',
 'Toyota Corolla Altis',
 'Honda City',
 'Skoda Laura',
 'Renault Duster',
 'Maruti Suzuki Ertiga',
 'Maruti Suzuki Dzire',
 'Mahindra XUV500',
 'Hyundai Verna Fluidic',
 'Maruti Suzuki Vitara Brezza',
 'Maruti Suzuki Wagon R',
 'Mahindra Scorpio',
 'Honda Amaze',
 'Mahindra XUV500',
 'Mahindra Scorpio',
 'Skoda Laura',
 'Volkswagen Polo',
 'Hyundai Elite i20',
 'Tata Manza Aura Quadrajet',
 'Chevrolet Sail UVA Petrol LT ABS',
 'Renault Duster 110 PS RxZ Diesel Plus',
 'Hyundai Verna Fluidic 1.6 VTVT SX',
 'Audi A4 2.0 TDI 177bhp Premium',
 'Hyundai Elantra SX',
 'Mahindra Scorpio VLX 4WD Airbag',
 'Mahindra KUV100 K8 D 6 STR',
 'Renault Scala RxL Diesel Travelogue',
 'Mahindra Quanto C8',
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
 'Hyundai i20 Active 1.2 SX',
 'Mahindra Xylo E4',
 'Hyundai Grand i10',
 'Hyundai i20',
 'Hyundai Eon',
 'Hyundai i10',
 'Hyundai i20 Active',
 'Datsun Redi GO',
 'Toyota Etios Liva',
 'Hyundai Accent',
 'Hyundai Verna',
 'Maruti Suzuki Swift',
 'Toyota Fortuner',
 'Hyundai i10 Sportz',
 'Mahindra Bolero Power Plus SLE',
 'selling car Ta',
 'Mahindra XUV500',
 'Honda City 1.5 V MT Exclusive',
 'Chevrolet Spark LT 1.0 Airbag',
 'Mahindra Jeep MM 550 XDB',
 'Renault Duster 110PS Diesel RxZ',
 'Mahindra XUV500',
 'Tata Indigo eCS VX CR4 BS IV',
 'Tata Zest 90',
 'Mahindra Bolero SLE BS IV',
 'Force Motors Force One LX ABS 7 STR',
 'Skoda Rapid Elegance 1.6 TDI CR MT',
 'Tata Vista Quadrajet VX',
 'Maruti Suzuki Alto K10 VXi AT',
 'Maruti Suzuki SX4',
 'Maruti Suzuki Zen LXi BS III',
 'Mahindra Jeep CL550 MDI',
 'Hyundai i10 Magna 1.2',
 'Maruti Suzuki Alto 800',
 'Maruti Suzuki Swift Dzire Tour LDi',
 'Honda City ZX EXi',
 'Mahindra Jeep CL550 MDI',
 'Mahindra Jeep MM 550 XDB',
 'Chevrolet Beat Diesel',
 'Honda City 1.5 S MT',
 'Maruti Suzuki Swift Dzire car',
 'Hyundai Verna 1.4 VTVT',
 'Toyota Innova 2.5 E MS 7 STR BS IV',
 'Maruti Suzuki Alto 800 Lxi',
 'Maruti Suzuki Maruti 800 Std â€“ Befo',
 'Toyota Etios',
 'Volkswagen Polo',
 'Maruti Suzuki Swift',
 'Hyundai Elite i20 Asta 1.4 CRDI',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Maruti Suzuki Swift Dzire Tour (Gat',
 'Maruti Suzuki Versa DX2 8 SEATER BSIII',
 'Tata Indigo LX TDI BS III',
 'Volkswagen Vento Konekt Diesel Highline',
 'Mercedes Benz C Class 200 CDI Classic',
 'Maruti Suzuki Ertiga VDi',
 'URJE',
 'Honda City',
 'Hyundai Santro Xing GLS',
 'Maruti Suzuki Omni Limited Edition',
 'Hyundai Sonata Transform 2.4 GDi MT',
 'Hyundai Elite i20 Sportz 1.2',
 'Volkswagen Vento Konekt Diesel Highline',
 'Maruti Suzuki Alto 800 Lxi',
 'Maruti Suzuki Alto LXi BS III',
 'Honda Jazz S MT',
 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
 'Maruti Suzuki Zen LXi BSII',
 'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
 'Swift Dzire Tour 27 Dec 2016 Regis',
 'Maruti Suzuki Alto K10 VXi',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
 'Mahindra XUV500 W8',
 'Hyundai Creta 1.6 SX Plus Petrol',
 'Hyundai i20 Magna O 1.2',
 'Renault Duster 85 PS RxL Explore LE',
 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
 'Honda Brio V MT',
 'Mahindra TUV300 T4 Plus',
 'Chevrolet Spark LS 1.0',
 'Mahindra TUV300 T8',
 'Maruti Suzuki Swift Dzire Tour LDi',
 'Nissan X Trail Select Variant',
 'Maruti Suzuki Alto 800 Vxi',
 'Ford Ikon 1.3 CLXi NXt Finesse',
 'Toyota Fortuner 3.0 4x4 MT',
 'Tata Manza ELAN Quadrajet',
 'Tata zest x',
 'Mahindra xyl',
 'Mercedes Benz A Class A 180 Sport Petrol',
 'Chevrolet Beat LS Diesel',
 'Ford EcoSport Trend 1.5L TDCi',
 'Tata Indigo LS',
 'Hyundai i20 Magna 1.2',
 'Volkswagen Vento Highline Plus 1.5 Diesel AT',
 'Renault Kwid RXT',
 'Used Commercial Maruti Omn',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Honda Amaze 1.5 E i DTEC',
 'Hyundai Verna 1.6 EX VTVT',
 'BMW 5 Series 520d Sedan',
 'Skoda Superb 1.8 TFSI AT',
 'Audi Q3 2.0 TDI quattro Premium',
 'Mahindra Bolero DI BSII',
 'Maruti Suzuki Zen Estilo LXI Green CNG',
 'Mahindra Scorpio S10',
 'Ford Figo Duratorq Diesel Titanium 1.4',
 'Maruti Suzuki Wagon R VXI BS IV',
 'Mahindra Logan Diesel 1.5 DLS',
 'Tata Nano GenX XMA',
 'Mahindra TUV300 T4 Plus',
 'Mahindra TUV300 T4 Plus',
 'Hyundai Elite i20 Magna 1.2',
 'Hyundai Elite i20 Magna 1.2',
 'Honda City SV',
 'Maruti Suzuki Baleno Delta 1.2',
 'Ford Figo Petrol LXI',
 'Mahindra Scorpio S10',
 'Honda City',
 'Hyundai Elite i20 Magna 1.2',
 'Maruti Suzuki Versa DX2 8 SEATER BSIII',
 'Hyundai Eon Era Plus',
 'Mitsubishi Pajero Sport Limited Edition',
 'Hyundai i10 Magna 1.2 Kappa2',
 'Toyota Corolla H2',
 'Maruti Suzuki Swift Dzire Tour VXi',
 'Tata Indigo CS eLS BS IV',
 'Mahindra Scorpio S10',
 'Mahindra Scorpio S10',
 'Hyundai Xcent Base 1.1 CRDi',
 'Honda City',
 'Hyundai Accent Executive Edition',
 'Maruti Suzuki Baleno Delta 1.2',
 'Tata Zest XE 75 PS Diesel',
 'Maruti Suzuki Dzire LDI',
 'Tata Sumo Gold LX BS IV',
 'Toyota Corolla Altis GL Petrol',
 'Maruti Suzuki Eeco 7 STR',
 'Toyota Fortuner 3.0 4x2 MT',
 'Mahindra XUV500 W6',
 'Tata Tigor Revotron XZ',
 'Maruti Suzuki 800',
 'Maruti Suzuki Ertiga Vxi',
 'Maruti Suzuki Versa DX2 8 SEATER BSIII',
 'Honda Mobilio S i DTEC',
 'Maruti Suzuki Ertiga',
 'Maruti Suzuki Vitara Brezza',
 'Hyundai Verna 1.6 CRDI E',
 'Maruti Suzuki Swift VXI BSIII',
 'Toyota Fortuner 3.0 4x2 MT',
 'Maruti Suzuki Omni Select Variant',
 'Honda Amaze',
 'Tata Indica',
 'Hyundai Santro Xing',
 'Maruti Suzuki Zen Estilo',
 'Maruti Suzuki Wagon R LXI BS IV',
 'Maruti Suzuki Wagon R',
 'Honda Brio VX AT',
 'Hyundai Xcent Base 1.1 CRDi',
 'Maruti Suzuki Zen LXi BSII',
 'Maruti Suzuki Zen Estilo LXI Green CNG',
 'Maruti Suzuki Wagon R Select Variant',
 'Maruti Suzuki Alto LXi BS III',
 'Renault Kwid RXT',
 'Tata Nano Lx BSIV',
 'Jaguar XE XE Portfolio',
 'Hyundai Xcent S 1.2',
 'Hyundai Eon Magna Plus',
 'Honda City 1.5 S MT',
 'Hindustan Motors Ambassador',
 'Maruti Suzuki Ritz GENUS VXI',
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
 'Hyundai Eon D Lite Plus',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Maruti Suzuki Wagon R VXI BS IV',
 'Honda Amaze 1.2 VX i VTEC',
 'Maruti Suzuki Estilo VXi ABS BS IV',
 'Maruti Suzuki Vitara Brezza LDi O',
 'Maruti Suzuki Eeco 5 STR WITH AC HTR',
 'Toyota Innova 2.0 V',
 'Hyundai Creta 1.6 SX Plus Petrol AT',
 'Mahindra Scorpio Vlx BSIV',
 'Maruti Suzuki Ertiga VDi',
 'Mitsubishi Lancer 1.8 LXi',
 'Maruti Suzuki Maruti 800 AC',
 'Maruti Suzuki Alto 800 LXI CNG O',
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
 'Hyundai Eon D Lite Plus',
 'Ford Fiesta SXi 1.6 ABS',
 'Maruti Suzuki Ritz VDi',
 'Hyundai Verna Fluidic New',
 'Maruti Suzuki Wagon R LXi BS III',
 'Maruti Suzuki Estilo LX BS IV',
 'Audi A6 2.0 TDI Premium',
 'Maruti Suzuki Wagon R LXi BS III',
 'Maruti Suzuki Wagon R',
 'Maruti Suzuki Wagon R',
 'Maruti Suzuki Alto',
 'Maruti Suzuki Baleno Sigma 1.2',
 'Hyundai Verna 1.6 SX VTVT AT',
 'Maruti Suzuki Swift GLAM',
 'Hyundai Getz Prime 1.3 GVS',
 'Hyundai Santro',
 'Hyundai Getz Prime 1.3 GLX',
 'Chevrolet Beat PS Diesel',
 'Ford EcoSport Trend 1.5 Ti VCT',
 'Maruti Suzuki Dzire ZXI',
 'Hyundai Fluidic Verna 1.6 CRDi SX',
 'Tata Indica V2 DLG',
 'BMW X1 xDrive20d xLine',
 'Hyundai i20 Asta 1.2',
 'Honda City 1.5 V AT',
 'Tata Nano',
 'Chevrolet Cruze LTZ AT',
 'Hyundai Verna Fluidic New',
 'Hyun',
 'Maruti Suzuki Swift Dzire VDi',
 'Mahindra XUV500 W6',
 'Mahindra XUV500 W10',
 'Maruti Suzuki Alto K10 LXi CNG',
 'Hyundai Accent GLE',
 'Force Motors One SUV',
 'Datsun Go Plus T O',
 'Maruti Suzuki Alto',
 'Chevrolet Spark 1.0 LT',
 'Hyundai i10',
 'Toyota Etios Liva GD',
 'Renault Duster 85PS Diesel RxL Optional with Nav',
 'Chevrolet Enjoy',
 'Maruti Suzuki Alto 800 Lxi',
 'BMW 5 Series 530i',
 'Toyota Etios Liva G',
 'Mahindra Jeep MM 550 XDB',
 'Chevrolet Beat LS Diesel',
 'Chevrolet Cruze LTZ',
 'Jeep Wrangler Unlimited 4x4 Diesel',
 'Maruti Suzuki Ertiga VDi',
 'Hyundai Verna VGT CRDi SX ABS',
 'Maruti Suzuki Omni',
 'Maruti Suzuki Celerio VDi',
 'Tata Zest Quadrajet 1.3',
 'Mahindra XUV500 W6',
 'Tata Indigo CS eLX BS IV',
 'Hyundai i10 Era',
 'Tata Indigo eCS LX TDI BS III',
 'Tata Indigo LX TDI BS III',
 'Tata Indigo eCS LX CR4 BS IV',
 'Tata Indigo Marina LS',
 'Commercial Chevrolet Sail Hatchback ca',
 'Hyundai Xcent SX 1.2',
 'Hyundai Eon Magna Plus',
 'Renault Duster 85 PS RxL Diesel',
 'Maruti Suzuki Alto K10 LXi CNG',
 'Tata Nano LX Special Edition',
 'Commercial Car Ta',
 'Renault Duster 110 PS RxZ Diesel',
 'Maruti Suzuki Wagon R AX BSIV',
 'Maruti Suzuki Swift',
 'Maruti Suzuki Ertiga',
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
 'Maruti Suzuki Alto K10 New',
 'Hyundai i20 Magna',
 'Hyundai i10 Magna 1.2',
 'tata Indica',
 'Tata Zest XE 75 PS Diesel',
 'Mahindra Xylo E8',
 'Toyota Corolla Altis GL Petrol',
 'Tata Manza Aqua Quadrajet',
 'Mahindra KUV100 K8 D 6 STR',
 'Used bt new conditions ta',
 'Renault Kwid 1.0',
 'Sale tata',
 'Tata Venture EX 8 STR',
 'Maruti Suzuki Swift Dzire Tour LXi',
 'Maruti Suzuki Alto LX BSII',
 'Skoda Octavia Classic 1.9 TDI MT',
 'Maruti Suzuki Omni LPG BS IV',
 'Chevrolet Beat Diesel',
 'Tata Sumo Gold EX BS IV',
 'Tata indigo 2017 top model..',
 'Hyundai Verna 1.6 CRDI SX',
 'Tata Sumo Gold EX BS IV',
 'Mahindra Scorpio 2.6 CRDe',
 'Maruti Suzuki Zen LXi BS III',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
 'Hyundai Elite i20 Sportz 1.2',
 'Ford Ikon 1.6 Nxt',
 'Hyundai Elite i20 Sportz 1.2',
 'Tata indigo',
 'Toyota Innova 2.5 V 7 STR',
 'Nissan Sunny XL',
 'Chevrolet Beat LT Diesel',
 'Maruti Suzuki Alto 800 Lxi',
 'Maruti Suzuki Swift VDi BS IV',
 'Maruti Suzuki Swift VDi BS IV',
 'Maruti Suzuki Swift',
 'very good condition tata bolts are av',
 'Toyota Innova 2.0 G4',
 'Sale Hyundai xcent commerc',
 'Maruti Suzuki Swift VDi ABS',
 'Hyundai Elite i20 Asta 1.2',
 'Mahindra XUV500 W10',
 'Volkswagen Polo Trendline 1.5L D',
 'Toyota Etios Liva Diesel',
 'Mahindra TUV300 T4 Plus',
 'Hyundai Elite i20 Asta 1.2',
 'Hyundai Santro Xing GLS',
 'Maruti Suzuki Zen LXi BS III',
 'Maruti Suzuki Ciaz ZXi Plus RS',
 'Hyundai Eon Era Plus',
 'Hyundai Elantra 1.8 S',
 'Maruti Suzuki Swift VDi',
 'Maruti Suzuki Zen Estilo LXI Green CNG',
 'Hyundai Eon Era Plus',
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
 'Hyundai Verna Fluidic New',
 'Ford EcoSport Trend 1.5L Ti VCT',
 'Hyundai i20 Magna',
 'Chevrolet Beat Diesel',
 'Tata Indica eV2 LS',
 'Jaguar XF 2.2 Diesel Luxury',
 'Audi Q5 2.0 TDI quattro Premium Plus',
 'BMW 3 Series 320d Sedan',
 'Maruti Suzuki Swift ZXi 1.2 BS IV',
 'BMW X1 sDrive20d',
 'Maruti Suzuki S Cross Sigma 1.3',
 'Maruti Suzuki Ertiga LDi',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Honda City SV',
 'Volkswagen Vento Comfortline Petrol',
 'Honda City 1.5 EXi New',
 'Audi A4 2.0 TDI 177bhp Premium',
 'Mahindra KUV100',
 'Tata Zest XE 75 PS Diesel',
 'Mahindra XUV500 W8',
 'Maruti Suzuki Swift Dzire Tour VDi',
 'Tata Sumo Gold LX BS IV',

In [205]:
df["name"].nunique()

525

In [206]:
df = df[df['Price']!='Ask For Price'].reset_index(drop=True)
df['Price'] = df['Price'].str.replace(',', '').astype(int)/100

mask = df['year'].value_counts().index[:20].to_list()
df = df[df['year'].isin(mask)].reset_index(drop=True)
df['year'] = df['year'].astype(int)

df.at[816, 'fuel_type'] = 'Petrol'
df.at[816, 'kms_driven'] = '50000'
df.at[815, 'fuel_type'] = 'Petrol'
df.at[815, 'kms_driven'] = '50000'

df.at[128, 'fuel_type'] = 'Petrol'

df['kms_driven'] = df['kms_driven'].str.replace(',', '').str.replace(' kms', '').astype(int)

In [207]:
df

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,800.0,45000,Petrol
1,Mahindra Jeep CL550 MDI,2006,4250.0,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,3250.0,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,2014,5750.0,36000,Diesel
4,Ford Figo,2012,1750.0,41000,Diesel
...,...,...,...,...,...
812,Toyota Corolla Altis,2009,3000.0,132000,Petrol
813,Tata Zest XM Diesel,2018,2600.0,27000,Diesel
814,Mahindra Quanto C8,2013,3900.0,40000,Diesel
815,Honda Amaze 1.2 E i VTEC,2014,1800.0,50000,Petrol
816,Chevrolet Sail 1.2 LT ABS,2014,1600.0,50000,Petrol

In [208]:
df['brand'] = df['name'].str.split().str[0]

In [209]:
df['old'] = 2024 - df['year']

In [210]:
df = df.drop(columns=['name','year'])

In [211]:
dfSummary(df)

In [212]:
df

      Price  kms_driven fuel_type      brand  old
0     800.0       45000    Petrol    Hyundai   17
1    4250.0          40    Diesel   Mahindra   18
2    3250.0       28000    Petrol    Hyundai   10
3    5750.0       36000    Diesel       Ford   10
4    1750.0       41000    Diesel       Ford   12
..      ...         ...       ...        ...  ...
812  3000.0      132000    Petrol     Toyota   15
813  2600.0       27000    Diesel       Tata    6
814  3900.0       40000    Diesel   Mahindra   11
815  1800.0       50000    Petrol      Honda   10
816  1600.0       50000    Petrol  Chevrolet   10

[817 rows x 5 columns]

In [213]:
df = pd.get_dummies(df, columns= ["fuel_type","brand"], drop_first=True)

## scelta del modello migliore

In [214]:
df

,Price,kms_driven,old,fuel_type_LPG,fuel_type_Petrol,brand_BMW,brand_Chevrolet,brand_Datsun,brand_Fiat,brand_Force,brand_Ford,brand_Hindustan,brand_Honda,brand_Hyundai,brand_Jaguar,brand_Jeep,brand_Land,brand_Mahindra,brand_Maruti,brand_Mercedes,brand_Mini,brand_Mitsubishi,brand_Nissan,brand_Renault,brand_Skoda,brand_Tata,brand_Toyota,brand_Volkswagen,brand_Volvo
0,800.0,45000,17,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,4250.0,40,18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,3250.0,28000,10,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,5750.0,36000,10,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,1750.0,41000,12,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,3000.0,132000,15,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
813,2600.0,27000,6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
814,3900.0,40000,11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
815,1800.0,50000,10,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
816,1600.0,50000,10,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [215]:
X_ = df.drop("Price", axis=1)
y = df["Price"]

In [216]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X_)

In [217]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=667)

### creazione random forest

In [218]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=200)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.21271795690284734

### creazione regressione lineare

In [219]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

-1.3931711056920273

### creazione decision tree regressor

In [220]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.15835534204590263

In [221]:
from sklearn.linear_model import ElasticNet
en = ElasticNet()
en.fit(X_train, y_train)
en.score(X_test, y_test)

0.16730073005307755

### creazione ridge

In [222]:
from sklearn.linear_model import Ridge
rid = Ridge()
rid.fit(X_train, y_train)
rid.score(X_test, y_test)

0.23178219402173506

### creazione lasso

In [ ]:
from sklearn.linear_model import Lasso
las = Lasso()
las.fit(X_train, y_train)
las.score(X_test, y_test)

0.23239771040976476

In [224]:
from sklearn.model_selection import cross_val_predict